---
- name: Copy Suricata configuration file
  ansible.builtin.copy:
    src: suricata.yaml
    dest: /etc/suricata/suricata.yaml
    backup: false
    owner: suricata
    group: suricata
    mode: 0640
  tags: update

- name: Configure server IP address in suricata.yaml HOME_NET
  ansible.builtin.lineinfile:
    path: /etc/suricata/suricata.yaml
    regex: '^\s+HOME_NET:.*$'
    line: "    HOME_NET: \"{{ suricata_home_net }}\""
  tags: update

- name: Configure server interface name in suricata.yaml
  ansible.builtin.replace:
    path: /etc/suricata/suricata.yaml
    regexp: '- interface: eno1'
    replace: '- interface: {{ suricata_interface }}'
  tags: update

- name: Copy Suricata sysconfig file
  ansible.builtin.template:
    src: sysconfig_suricata.j2
    dest: /etc/sysconfig/suricata
    backup: false
    owner: suricata
    group: root
    mode: 0600

- name: Create necessary directories
  ansible.builtin.file:
    path: /var/lib/suricata/rules
    state: directory
    owner: root
    group: suricata
    mode: 0755

- name: Copy Custom Rules file (external source)
  ansible.builtin.copy:
    src: "{{ suricata_custom_rules_src }}"
    dest: /var/lib/suricata/rules/ls-custom.rules
    owner: root
    group: suricata
    mode: 0644
  when: suricata_custom_rules_src != ""
  tags: update

- name: Copy Custom Rules file (default)
  ansible.builtin.copy:
    src: ls-custom.rules
    dest: /var/lib/suricata/rules
    owner: root
    group: suricata
    mode: 0644
  when: suricata_custom_rules_src == ""
  tags: update

- name: Copy custom disabled rules list
  ansible.builtin.copy:
    src: disable.conf
    dest: /etc/suricata/disable.conf
    owner: suricata
    group: suricata
    mode: 0644
  tags: update

- name: Update Suricata Rules
  ansible.builtin.command:
    cmd: suricata-update --no-merge
  tags: update

- name: Configure and start suricata service
  ansible.builtin.service:
    name: suricata
    enabled: true
    state: restarted
  tags: update

- name: Ensure a a cron job to run suricata-update is created
  ansible.builtin.cron:
    name: "suricata-update"
    minute: "0"
    hour: "2"
    job: "/usr/bin/suricata-update --no-merge"

- name: Ensure a cron job to run logrotate for suricata every hour is created
  ansible.builtin.cron:
    name: "logrotate-suricata"
    minute: "0"
    hour: "*"
    job: "/usr/sbin/logrotate /etc/logrotate.d/suricata"

- name: Modifying the log-rotation for Suricata to be rotated by size
  ansible.builtin.lineinfile:
    path: /etc/logrotate.d/suricata
    line: "    maxsize 5G"
    insertafter: '\{$'
